[2013-04-14 10:57] GRiker opened #1 "Please contact me"
griker at hotmail.com concerning custom development on this project. Thanks.

[2013-07-04 06:14] KocherTech opened #2 "idevicebackup does not build"
When I build idevicebackup project, it shows errors such as

---
## Error   1   error C1083: Cannot open include file: 'libcompat.h': No such file or directory c:\users\abc\documents\visual studio 2012\projects\libimobiledevice-win32-master\libimobiledevice-tools\idevicebackup\idevicebackup.cpp 48  1   idevicebackup

Fixing the above error generates new errors such as

---
## 3   IntelliSense: ide

[2013-07-04 11:48] storoj commented on #2
please checkout my fix

[2013-07-04 11:49] #1 closed, assigned to nobody

[2013-07-05 11:15] KocherTech commented on #2
Thanks for the commit. The code compiles without error but when I execute it I get an error dialog and it crashes. I've attached the screenshot of the error and below is the command I'm trying to execute.

idevicebackup.exe backup "C:\Users\abc\Desktop\AddressBook"

Also I noticed that the similar code that compiles and runs perfectly on UNIX based systems has another version of idevicebackup i.e.

[2013-07-05 12:33] storoj commented on #2
yes, you should use idevicebackup2
i will port it asap

[2013-07-10 06:19] KocherTech commented on #2
Hi,

Wanted to know if you've got a chance to port idevicebackup2 to Win32

[2013-07-10 09:44] storoj commented on #2
Hi

just made it compilable, please check it out

[2013-07-11 05:34] KocherTech commented on #2
Thanks a lot. I'll check and let you know.

[2013-07-11 11:11] KocherTech commented on #2
The code compiles and executes as required. The issue I find right now is that it doesn't build in the Release mode. It throws errors. I edited the release configuration by setting the changes as below. A few errors are fixed but there're many more errors. Can you please try compiling the code in Release mode to see the errors?

Changes till now:
"Additional Include Directories" in "General" under

[2013-07-12 03:42] coolhomeuc opened #3 "No openssl static library for Win32"
I'm trying to compile your branch with VS2005, and I find that there is no openssl static library for win32. These files ," libcrypto.a libeay32.dll.a libss32.dll.a libssl.a", are for linux kernal. I want to know, how could u compile your code with VS2012? Thank you in advanced.
-------------Add -----------
I could compile with libcrypto.a and libssl.a now ,although I don't now the reason.

[2013-07-15 13:13] coolhomeuc commented on #3
I 'm  trying to run ideviceinstaller.cpp, but it fails on "SSL_do_handshake" with error "Error in SSL_do_handshake: SSL_ERROR_SYSCALL". I don't know why ,could any one  help me? The code source is here:http://rapidshare.com/files/3344462118/libimobiledevice-win32.zip . Run project/IPAInstall.vcproj , and test IPAInstall/main.cpp .

[2013-07-21 19:23] NobMiwa opened #4 "libxml2.dll"
Hello storoj,

First of all, thank you for great project.

I just downloaded the project and open libimobiledevice-win32.sln with VS2012 Pro.
I built with "Debug" and done.
I just run idevicebackup2.exe with debug and got a error that said libxml2.dll is needed.

Please advice.
Nobuo Miwa

[2013-07-21 21:53] storoj commented on #4
Hello!

You may try take dll from this package
http://sourceforge.net/projects/gnuwin32/files/libxml/2.4.12-1/libxml2-2.4.12-bin.zip/download

Best regards

[2013-07-22 00:03] NobMiwa commented on #4
Thank you for quick reply !

I downloaded libxml2.dll and put same dir.
I run "idevicebackup2.exe backup C:\temp" from Administrated command window then I got followings..

   Debug>idevicebackup2.exe backup C:\temp
   connect: No error
   usbmuxd_get_device_list: error opening socket!
   No device found, is it plugged in?

Of course, I connected iPhone 4S(unlocked login password) that could be de

[2013-07-22 08:24] storoj commented on #4
Do you have iTunes installed? If not and if you dont want to have whole iTunes, you may try to download iTunes installer, unpack it using 7-zip for example, then install only AppleMobileDeviceSupport and maybe also AppleApplicationSupport and SetupAdmin.
It is usbmuxd service required to talk with iOS devices

[2013-07-22 13:07] NobMiwa commented on #4
Thank you very very much !!

It works after I installed iTunes !

Thank you for great support !

[2013-07-23 07:05] customfob opened #5 "Compiling Under 64 Bits"
Hi there, I'm wondering whether I can get some help when compiling this project under 64 bits.  The binaries provided under the vendor directories, they're all 32 bit compiled.  ie, the libxml2 and openssl binaries.

Is there a way to get binaries under the vendors directory for 64 bit?

Any help would be greatly appreciated!

Peter

[2013-08-01 01:58] airwolf2026 opened #6 "want to port idevicerestore,but a lot error."
im a newbie of c++,i want to run idevicerestore on win32,but when i build the project in vs2010,there a lot error.what i mistake?

Error   2   error C4430: missing type specifier - int assumed. Note: C++ does not support default-int   e:\01.work\study\libmobiledeviceonwin32\libimobiledevice-win32-master\libimobiledevice-tools\idevicerestore\src\common.h    26  1   idevicerestore
Error   15  error

[2013-08-01 13:17] storoj commented on #6
If you dont really want to use Visual Studio you may build all these libs and binaries using mingw or cygwin.
I had painless build with cygwin

Also i am trying to port idevicerestore

[2013-08-02 01:57] airwolf2026 commented on #6
Thank you for quick reply !
i'll try your suggest to build the project using mingw first.
BTW:the idevicerestore's code seem no up to date???

thanks again for you great work.

[2013-08-08 04:26] prateek1108 opened #7 "libimobiledevice-win32 code showing error"
hi.......
libimobiledevice-win32 is showing error of "error link 1104 :cannot open file
libimobiledevice.lib "   in projects idevice-debug-client and idevicebackup2

[2013-08-08 04:55] airwolf2026 commented on #7
hi prateek1108,i can build the solution with no errors,
maybe u should set idevice-debug-client 'project dependence' libimobiledevice?

[2013-08-08 08:44] prateek1108 commented on #7
thanks airwolf2026 for reply, by your suggestion i am able to remove the compile time error but now runtime error is coming i.e" unable to start program   \libimobiledevice-win32-master\debug\getopt.lib"

[2013-08-08 21:37] storoj commented on #7
just set a project that you need as startup project using project's context menu (you have getopt project as startup project now)

[2013-08-11 07:54] GF-Huang opened #8 "use ideviceinstaller to install app fail ."
![qq20130811155319](https://f.cloud.github.com/assets/4510984/943749/1d3b23f6-025b-11e3-96c0-d5d1fe72e0f8.jpg)

![1](https://f.cloud.github.com/assets/4510984/943758/cd6fbfde-025b-11e3-88c1-9caed652bf8a.jpg)

Why I use ideviceinstaller to install an app fail ?
My system is win7 x64. I installed iTunes.

Who can tell me why? Help, Thanks.

[2013-08-12 03:43] prateek1108 commented on #7
which project i have to set as startup project.....

[2013-08-12 05:20] coolhomeuc commented on #8
you could debug on it .

[2013-08-12 06:41] GF-Huang commented on #8
Thank you, coolhomeuc. Why otherBody use it without problem?
I don't think debug it is a good idea.

[2013-08-12 10:23] airwolf2026 commented on #8
you should debug it ,may be your' ipa archive missing some file?like iTunesMetadata.plist?

[2013-08-12 15:01] GF-Huang commented on #8
Thank you, airwolf2026 ! Let me have a try to debug it.
But the  iTunesMetadata.plist is already existing.
And I use iTunes install this app success.
![qq20130812225823](https://f.cloud.github.com/assets/4510984/948075/fee24212-035f-11e3-9cd4-bad711c93611.png)

[2013-08-12 15:40] GF-Huang commented on #8
![qq20130812233240](https://f.cloud.github.com/assets/4510984/948333/8024401e-0365-11e3-9d58-1a4d235e7adb.jpg)

I debug it, but break at here.

[2013-08-13 06:27] vc123456 commented on #7
I have set getopt project as startup project but runtime error is continuing... i.e "unable to start program \libimobiledevice-win32-master\debug\getopt.lib"

[2013-08-13 06:34] airwolf2026 commented on #7
hi vc123456,
the getopt project is a dll ,not a exe, so if you want to debug ,you should set 'ideviceinstalller' or other you like as a startup projcet

[2013-08-14 10:04] vivek0626 commented on #7
hi airwolf2026,
for your reply, i have set ideviceinstaller as a startup project but now runtime error is coming i.e" The program can't start because zlib1.dll is missing from your computer. Try reinstalling the program to fix this problem"

[2013-08-14 10:10] prateek1108 commented on #7
hi airwolf2026,
In which operating system and evirnment(Software installed) for compiling this code

[2013-08-14 11:17] storoj commented on #7
there are dlls (zlib, iconv, libxml2) in vendors directory, you have to put them to Debug directory

[2013-08-15 01:27] airwolf2026 commented on #7
hi prateek1108
my env is win7+sp1, and vs2010

[2013-08-21 03:56] vivek0626 commented on #7
hi,
i have restore all dlls (zlib, iconv, libxml2) in debug folder respect to error but runtime exception is coming. i have simple explain my problem....
i want to create simply window based application (vs2010) to copy sms.db ( /private/var/mobile/Library/SMS/sms.db) file in iphone to my computer for recover deleted sms and backup purpose without jail-breaking.

please give you any type of sugges

[2013-08-21 05:34] prateek1108 commented on #7
but in vs 2010 this .sln is showing file unidentified .........i had tried this in windows xp ,vs 2012.,

[2013-08-21 06:01] airwolf2026 commented on #7
hi  vivek0626,
you could use Filerelay service to download the sms.db or use the backupclient2

[2013-08-21 06:07] vivek0626 commented on #7
hi airwolf2026,
thanks for reply, suggest any of the demi project link...

[2013-08-21 07:53] vivek0626 commented on #7
currently my project copied sms.db database on jailbreak iphone but i want to copy without jailbreking iphone.

[2013-08-21 08:05] airwolf2026 commented on #7
without jailbreak,you could use file_relay.c to download the user dbs(contains addressbook,sms etc);

[2013-08-22 10:11] vivek0626 commented on #7
can you create a small project to download the addressbook db.

[2013-08-22 10:13] prateek1108 commented on #7
i had run this code but some of .dll is giving error at run-time ..........can you please provide any other link to this code or to code compatible with vs 2010......something is missing or corrupted in this libimobiledevice-win32 code.

[2013-08-23 08:51] airwolf2026 commented on #7
hi vivek0626, i wrote a demo func to download the userdatabase

idevice_t device = NULL;
    lockdownd_client_t client = NULL;
    lockdownd_service_descriptor_t service_descriptor = NULL;

[code]

leave_cleanup:
    if (client) {
        lockdownd_client_free(client);
    }
    idevice_free(device);
    //bla bla other resource release

[2013-09-02 11:28] Qwerty1701 opened #9 "i want to take backup of iphone by code"
hi.....
i just want to take backup or sync my iphone when i connect the iphone to computer. is any function in libimobiledevice or any other to do so.....

[2013-09-02 14:00] airwolf2026 commented on #9
You could use ideviceBackup2 to backup your iphone

hi.....
 i just want to take backup or sync my iphone when i connect the iphone to computer. is any function in libimobiledevice or any other to do so.....

Reply to this email directly or view it on GitHub.

[2013-09-05 08:08] Qwerty1701 commented on #9
hi airwolf2026
how can i separately use this code of ideviceBackup2 in vc++ code

[2013-09-13 14:43] GF-Huang commented on #8
continue the question.   I debug it,  it's break at here on the call stack top

![qq20130913223958](https://f.cloud.github.com/assets/4510984/1139024/c73328fe-1c82-11e3-8aed-2084609ed118.jpg)
![qq20130913224107](https://f.cloud.github.com/assets/4510984/1139029/d0b6361e-1c82-11e3-9d7d-15e4c4c88797.png)

[2013-09-19 16:18] GreatFireWall opened #10 "ideviceinstaller.exe exception"
Hello storoj,

First of all, thank you for great project.

I just downloaded the project and open libimobiledevice-win32.sln with VS2012 Ultimate
I built with "Debug" and done.

I run with debug mode the "ideviceinstaller.exe" with args as the follow picture
![qq20130920001334](https://f.cloud.github.com/assets/4510984/1174358/761bf19e-2146-11e3-9da8-91fabb0d9264.png)

but it throw an untreated ex

[2013-09-19 19:09] storoj commented on #10
Im sorry, i cant realize what is the problem. May you send me your ipa? dark.storoj@gmail.com

[2013-09-20 00:07] GF-Huang commented on #10
ok, I sent.  Thank you at first.

[2013-09-22 14:56] GF-Huang commented on #10
Hello,  storoj !
I build it in Win7 x64.  Is  this problem related to x86 or x64 ?

[2013-09-26 14:00] rayan99 commented on #10
Hi storoj,
I also face exactly the same problem. Same File , Same Function, Same Error. Spent several hours before seeing this post.
Please let me know if you need any more details. Kindly help me in this.

[2013-09-28 10:29] rayan99 commented on #10
Found a fix for this. This is some problem with ziplib.lib. Downloaded zlib1.dll and placed it in the folder in which my .exe is present. I works fine now.

[2013-09-28 12:00] rayan99 commented on #10
Please use this link.
http://gnuwin32.sourceforge.net/packages/zlib.htm
Download the binaries zip file. The dll is in bin folder.

If problem persists, then there may be issue with libxml2. try the below link.
http://sourceforge.net/projects/gnuwin32/files/libxml/2.4.12-1/libxml2-2.4.12-bin.zip/download

[2013-09-28 14:25] GF-Huang commented on #10
ok, let me have a try first.

[2013-10-14 11:15] arbutler opened #11 "Building release binaries doesn't work by default in Microsoft Visual Studio 2012"
I found that this project fails to build Release binaries in Microsoft Visual Studio 2012 by default, but it can build Debug binaries successfully.  Can anyone help with that?

[2013-10-16 08:36] chideat opened #12 "usbmuxd is not running"
i successfully build all the tools at debug module, but when i try to run any one of them, the same error always occured.

the error is :
usbmuxd_get_device_list: error opening socket!
i can't find any usbmuxd serivce and target folder.

thanks for your help!

[2013-10-16 08:38] chideat commented on #11
I also meet with this problems, and not familiar with VS. Hope for some hint!

[2013-10-16 08:38] airwolf2026 commented on #12
hi,
in win32
you should install apple mobile device service (include in itunes),
may help .

[2013-10-17 01:17] chideat commented on #12
yes, it works. Thank you for your help.
I find that it may have some works to do with apple mobile device service and bonjour service.

[2013-10-17 01:18] #12 closed, assigned to nobody

[2014-05-09 06:14] vipinbeni opened #13 "Hi i want to get appliaction AppData photo and vedio using afc"
How i can get application photo and video and documents  like instagram flickr ,ibook, imove etc using this

[2014-05-09 06:24] airwolf2026 commented on #13
hi,
you should use house_arrest service to access application vendor folder

[2014-05-13 04:04] vipinbeni commented on #13
Thanks for your Quick reply ,Please tell me how can i use  house_arrest service in my application to get data like photo and video and documents like instagram flickr ,ibook, imove etc
please provide some detail as i am not able to extract these data .

[2014-05-20 05:16] vipinbeni commented on #13
Hi Sir Please Help me provide me help on get app data

[2014-05-20 05:45] airwolf2026 commented on #13
sorry,i can't run the project on my pc now,
maybe you could see libmobiledevices project.
why you not use ifunbox?

[2014-05-20 07:37] vipinbeni commented on #13
Dear sir give me little idea about how  can i do this using this lib. libmobiledevices , and what is ifunbox.

[2014-07-03 05:37] vipinbeni opened #14 "Add new contact to iphone contacts list"
Hi Sir,
Thanks for this great code .
I want to add new contact to iphone contacts list how can i do this with  your code .

thanks

vipin

[2014-07-08 04:38] vipinbeni commented on #14
Hi Sir,

Please help me i want to add some contact to iphone using this lib.

[2014-07-18 06:13] akhilritu opened #15 "Error in MobileSync_client_new"
i Build this project on windows successfully and access mobilesync.h to get all contact in my iphone but when i run the code i get error in following module.
mobilesync_error_t mobilesync_client_new(idevice_t device, lockdownd_service_descriptor_t service,
                           mobilesync_client_t \* client)
{
    if (!device || service->port == 0 || !client || *client)
        return MOBILES

[2014-07-22 16:24] ghost opened #16 "Release build: error: unable to retrieve device list"
Close it! Thanks

[2014-07-23 06:00] akhilritu commented on #15
More information:
In the function:
 device_link_service_error_t device_link_service_client_new(idevice_t device, lockdownd_service_descriptor_t service, device_link_service_client_t *client)

property_list_service_client_t plistclient = NULL;
if (property_list_service_client_new(device, service, &plistclient) != PROPERTY_LIST_SERVICE_E_SUCCESS) {
        return DEVICE_LINK_SERVICE_E_MUX_ERROR;

[2014-07-24 04:00] chauhanakhil commented on #15
i am facing the same problem in this:
if (property_list_service_client_new(device, service, &plistclient) != PROPERTY_LIST_SERVICE_E_SUCCESS) {
        return DEVICE_LINK_SERVICE_E_MUX_ERROR;
    }
please help.

[2014-07-24 05:01] chauhanakhil opened #17 "Communication error(code -3) in property_list_service_client_new function."
I am debugging this code but at this point i am finding DEVICE_LINK_SERVICE_E_MUX_ERROR(-3) in the below function:

device_link_service_error_t device_link_service_client_new(idevice_t device, lockdownd_service_descriptor_t service, device_link_service_client_t *client)
{
	property_list_service_client_t plistclient = NULL;
	if (property_list_service_client_new(device, service, &plistclient) != PRO

[2014-08-26 10:31] chauhanakhil commented on #2
i am facing the problem : 6>LINK : fatal error LNK1104: cannot open file 'libcompat.lib'

[2014-08-26 10:32] chauhanakhil commented on #2
please show me how to get 'libcompat.lib".

[2014-09-09 01:58] chouchou1981 commented on #11
Please help to share your build log for detail tracing.
In fact, I got a lot of error related to SAFESEH. You can diable it from project property->link->advanced->Image has safe exception handler->No. It may create some vulnerability issue but it works. The fundamental solution is to rebuild the linked lib with such compile option.

[2014-09-11 04:08] vipinbeni opened #18 "Enanle to use Mobilesync"
Hi Sir,

I am using this library in my vc++ application for synchronization of contact and i want to list all contact from devices to my application on windows systems .
 i am using following code

int main(void)
{
    int count, i, err;
    lockdownd_service_descriptor_t port = NULL;
    usbmuxd_device_info_t _devices;
    idevice_t idevice;
    idevice_connection_t connection;
    lockdownd_clie

[2014-09-11 06:11] airwolf2026 commented on #18
try close idevice icloud sync contact first.

[2014-09-12 03:42] vipinbeni commented on #18
Thanks airwolf2026 for your Quick reply  its work now , thanks a lot

but i have a problem now got information like first name, last name ,company name etc correct but not information like Phone number,  email  ,Street Address,URL ,Date etc not coming in this xml dict.

i got this format out put

< ?xml version="1.0" encoding="UTF-8"? >
< !DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http:/

[2014-09-12 07:35] airwolf2026 commented on #18
you should read message until null.like:
while(msg!=null)
{
     mobilesync_receive(sync_client, &msg);
}
idevice send contact infos in diffrent plist.

[2014-09-15 04:43] vipinbeni commented on #18
int main(void)
{
int count, i, err;
lockdownd_service_descriptor_t port = NULL;
usbmuxd_device_info_t devices;
idevice_t idevice;
idevice_connection_t connection;
lockdownd_client_t ldclient;
mobilesync_client_t sync_client = NULL;
char _host_id;
err = usbmuxd_get_device_list(&devices);
if(err != 1)
{
printf("usbmuxd_get_device_list error %d, exiting.\n", err);
close_all(NULL, NULL, NULL, &devices

[2014-09-15 04:44] vipinbeni commented on #18
Please help me how can i get Phone Number email etc

[2014-09-16 03:35] airwolf2026 commented on #18
sorry,you should test msg[3] is lastrecord

[2014-09-16 03:55] vipinbeni commented on #18
Dear Sir .
 Could you please give some brief  in detail

where i am wrong and where to change .

[2014-09-16 03:55] vipinbeni commented on #18
Dear Sir .
 Could you please give some brief  in detail

where i am wrong

On Tue, Sep 16, 2014 at 9:05 AM, airwolf2026 notifications@github.com
wrote:

##

Thanks
Vipin Kumar Beniwal

[2014-09-16 06:55] airwolf2026 commented on #18
sniff the usb message use Bus Hound
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>SDMessageProcessChanges</string>
    <string>com.apple.Contacts</string>
    <dict>
        <key>3/6/8</key>
        <dict>
            <key>com.apple.syncservices.RecordEntityName

[2014-09-16 08:13] vipinbeni commented on #18
Hi Sir,

i add following to my code
array = plist_new_array();
      plist_array_append_item(array, plist_new_string("SDMessageProcessChanges"));
      plist_array_append_item(array, plist_new_string("com.apple.Contacts"));
      plist_array_append_item(array, plist_new_dict());
      plist_array_append_item(array, plist_new_bool(0));
      plist_t dict1 = plist_new_dict();
      plist_array_appen

[2014-09-16 08:24] airwolf2026 commented on #18
don't add these ,these are idevice send to computer

[2014-09-16 08:32] vipinbeni commented on #18
then how can i get phone no  my all code is shown to you sir where i am wrong  please tell me where i have to change or add something pls help .

[2014-09-16 08:40] airwolf2026 commented on #18
i know why you can't get more info
while(msg!=NULL)
{
    err = mobilesync_receive(client, &msg);
**//send 'SDMessageAcknowledgeChangesFromDevice'**
**msg = plist_new_array();**
**plist_array_append_item(msg,plist_new_string("SDMessageAcknowledgeChangesFromDevice"));**
**plist_array_append_item(msg, plist_new_string("com.apple.Contacts"));**
**err = mobilesync_send(sync_client, msg);**
    if(plis

[2014-09-16 08:42] airwolf2026 commented on #18
send 'SDMessageAcknowledgeChangesFromDevice' to tell device you had done previous msg,then device can send other info like phonenumbers etc

[2014-09-16 09:17] vipinbeni commented on #18
hi sir i tried it but same out out   still i am trying it to rewrite again as money changes has been done after  final i will show you my code again .

[2014-09-16 10:42] vipinbeni commented on #18
Thanks a lot Sir its working after make some little change THANKS A LOT and expecting help if needed in further  implementation of this sync process to my application..

[2014-09-16 10:46] airwolf2026 commented on #18
hm,
there are a lot free software to manager idevice.

[2014-09-16 10:50] vipinbeni commented on #18
k  I want to  add new contact with all detail to iphone  is i am in right direction pls guide me sir..

i am using vc++ in my app

can i also insert contact with this method .

[2014-09-17 02:43] airwolf2026 commented on #18
yes,you're in rigtht direction
reference this http://www.libimobiledevice.org/docs/mobilesync.html
to sync changes to iphone

[2014-09-17 02:51] vipinbeni commented on #18
Dear Sir Could you tell me little bit how can i insert i new contact in
iphone using this some steps as you tell me in reading contact from iphone

Thanks

On Wed, Sep 17, 2014 at 8:13 AM, airwolf2026 notifications@github.com
wrote:

##

Thanks
Vipin Kumar Beniwal

[2014-09-18 02:04] #16 closed, assigned to nobody

[2014-09-18 09:00] vipinbeni commented on #18
Hi Sir,

i am trying to add new contact using following code but i am not understand how can i do this please help me . where the detail of contact add i don't understand pls help me out sir.

int main1(mobilesync_client_t sync_client)
{
    int count, i, err;
    plist_t data            = NULL;
    plist_t msg             = NULL;
    plist_t response_t      = NULL;
    char \* response;
    /\* I

[2014-09-18 09:32] airwolf2026 commented on #18
change the line 'plist_array_append_item(msg, plist_new_string("vipin"));'
to
plist_t contactMainInfoDict =plist_new_dict();
plist_dict_insert_item(contactMainInfoDict , "first name", plist_new_string("FirstName"));
plist_dict_insert_item(contactMainInfoDict , "last name", plist_new_string("LastName"));
blabla...like device send plist format to pc;

plist_array_append_item(msg,contactMainInfoDict

[2014-09-18 09:38] akhilritu opened #19 "Unable to Send records from host to device through this code"
array = plist_new_array();
-   plist_add_sub_string_el(array, "DLMessagePing");
-   plist_add_sub_string_el(array, "Preparing to get changes for device");
  +
-   ret = mobilesync_send(client, array);
-   plist_free(array);
-   array = NULL;
  +
-   array = plist_new_array();
-   plist_add_sub_string_el(array, "SDMessageProcessChanges");
-   plist_add_sub_string_el(array, "com.apple.Contacts");
-

[2014-09-18 11:24] vipinbeni commented on #18
K thanks Sir  i will try it and reply you

[2014-09-20 18:30] NobMiwa3 opened #20 "idevicebackup2 with iOS8"
I built idevicebackup2.exe from latest download with VS2013 and ran with iOS8 (iPhone 5s)..

#

sending: 4 bytes:
# 0000011E

sending 286 bytes
# ...snipped

and it finished with followings error...

sent 320 bytes
NP: Unlocked
Using 738DBCA2-2890-C205-A7CC-461954D5A3AB as HostID
sending 341 bytes
sending 4 bytes
SSL_write 4, sent 4
sending 341 bytes
SSL_write 341, sent 341
sent 341 bytes
SSL_read

[2014-09-22 03:00] vipinbeni commented on #18
Hi Sir

@storoj please Help me  as i am waiting for your reply pls help me sir .

On Fri, Sep 19, 2014 at 2:35 PM, vipin beniwal <
vipinkumar.beniwal01@gmail.com> wrote:

##

Thanks
Vipin Kumar Beniwal

[2014-09-22 03:22] airwolf2026 commented on #18
before send contact msg to device ,send

[code]

then send the contact msg, in your case ,you miss the contact id

[code]

after send the msg, device will send you the new id on device ,like:

[code]

then ,you can send phonenumbers, email etc to device ,in case of phoneNumbers:

[code]

like main contact info,after received phoneNumbers,device will send you the new id base on your phoneNumber id.

[2014-09-22 03:29] vipinbeni commented on #18
k Thanks Sir I will try this and get back to you  Thanks a lot.

[2014-09-22 05:32] vipinbeni commented on #18
Dear Sir  all is going in the same way but contact is not shown and each time adding same contact id is coming  , phone no out put is also  same as you describe but contact is not added to iphone .

![new4](https://cloud.githubusercontent.com/assets/5228833/4351968/ded26d9a-4219-11e4-98dd-c281c3a558fd.jpg)

![new3](https://cloud.githubusercontent.com/assets/5228833/4351977/1f91bc0a-421a-11e4-8783-

[2014-09-22 06:06] airwolf2026 commented on #18
you should send other infos to device ,like related name,email,dates etc.

[code]

in final,send

[code]

you should download a free ios tool ,then use busHound to sniffer the packet,when add a new contact.

[2014-09-24 05:01] vipinbeni commented on #18
Dear Sir,

One More Query to you i am running libimobiledevice-win32 successfully in debug configuration but in release  mode it show me lot of error  how can i build it in release mode .  I am getting error like

 Touching "Release\libcnary.unsuccessfulbuild".
1>ClCompile:
1>  cnary.c
1>cnary.c(30): error C2275: 'node_t' : illegal use of this type as an expression
1>          D:\contact sync\libi

[2014-09-24 05:44] airwolf2026 commented on #18
sorry, i didn't build the project in release.

[2014-09-24 06:12] vipinbeni commented on #18
K Sir  I want use this .lib file to my main project but there  they are showing linking error

1>idevice_id.obj : warning LNK4217: locally defined symbol _plist_new_bool imported in function "int __cdecl main1(struct mobilesync_client_private *)" (?main1@@YAHPAUmobilesync_client_private@@@Z)
1>idevice_id.obj : warning LNK4217: locally defined symbol _plist_dict_insert_item imported in function "in

[2014-09-24 06:33] #14 closed, assigned to nobody

[2014-09-25 03:37] airwolf2026 commented on #18
sorry,i don't maintain this project .
and I have no experience in vc++
you may ask other people to sovle your question.

[2014-09-26 03:05] vipinbeni commented on #18
Thanks a lot Sir , My little query about AFC that i write a file to device using AFCFileRefWrite all is going well but file is not shown in iphone it is shown after i restart device So Please tell me how can i update it to device after writing file so it can show without restart . Image Is not reflect without restart the device .

Pls help Sir

[2014-09-26 03:37] airwolf2026 commented on #18
call afcflush? or afcclosefile??

[2014-09-30 04:18] akhilritu commented on #18
please help where i am wrong...

[2014-09-30 05:36] akhilritu commented on #18
Hi sir,
 I am getting these values in plist as

please tell me where i am wrong.

[2014-09-30 08:04] airwolf2026 commented on #18
hi, akhiritu,
you can add a contact in device with all information like phoneNumber,email, address,note ...blabla.
then use your read code to get this contact from device,and save these plist that device send to you.

after that ,you should know how to send a contact with phoneNumber or email info to device.

[2014-09-30 08:11] akhilritu commented on #18
Hello sir,
I have added a contact and received id 1277 and after that i am sending phone number info as below but -1 is returning in mobilesync_receive

[2014-09-30 08:13] akhilritu commented on #18
Hi sir,

Is Akhil1130sep14 is the right key because it is my contact first name.

[2014-09-30 08:29] airwolf2026 commented on #18
sorry ,i forget that key fomat, see the plist you get from device.

[2014-09-30 08:32] akhilritu commented on #18
It is as you have mentioned in your code described on this page but i have changed contact to Akhil1130sep14 in the key part after com.apple.contacts.Phone Number

[2014-09-30 09:19] akhilritu commented on #18
you have described above as:

after send the msg, device will send you the new id on device ,like:

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>SDMessageRemapRecordIdentifiers</string>
    <string>com.apple.Contacts</string>
    <dict>
        <key>{7F2CEA11-B

[2014-09-30 09:31] airwolf2026 commented on #18
[code]

the key is wrong, correct is

[code]

[2014-09-30 09:35] akhilritu commented on #18
Ok sir i am trying this.

[2014-09-30 09:43] akhilritu commented on #18
hi

[2014-09-30 09:51] airwolf2026 commented on #18
Sorry,i don't know why you received -1.Maybe other error happens,see the device runtime log

or you leave an email. I'll send the packages when add a new contact with phoneNumber info on device

[2014-09-30 10:04] akhilritu commented on #18
Ok sir i will check again.
My email id is: akhil.ritu777@gmail.com

[2014-09-30 10:18] akhilritu commented on #18
Hello sir,
Where can i see the device runtime log.

[2014-09-30 10:21] airwolf2026 commented on #18
Use idevicesyslog tool to view the syslog in realtime
on http://www.libimobiledevice.org/ site

[2014-09-30 10:21] akhilritu commented on #18
Ok sir

[2014-10-07 03:11] prateek1108 opened #21 "Want to sync photos with ios device"
Hello Sir,
sir ,I want to sync Photos with my iPhone from folder stored on my computer as we can do with itunes , i want to perform the same work with my code. Please do let me know how i can sync photos by code or any script.

[2014-10-09 04:49] vipinbeni commented on #21
Hi Sir ,
 I am doing this using Afc and by placing these file to iphone but no linking is made pls help me for this issue as i am also facing problem in same thing so pls help  and give me idea about how i can do this .

thanks.

[2014-10-09 09:05] vipinbeni commented on #18
@airwolf2026 Sir Thanks for your help on contact sync.But how can we sync photo and music to iphone pls guide me as i am placing them using afc but they are not synchronize with iphone i want to sync them as i tunes  select a folder and put all image to iphone.

thanks
vipin

[2014-10-09 09:34] airwolf2026 commented on #18
Hi, If you want to sync photos to idevice,you should know ATC(ath.exe) protocol,not just afc...

Use the tool Bus Hound to analyse the atc protocol.

[2014-10-09 09:53] vipinbeni commented on #18
Dear Sir , could you pls tell me more where i found detail about ATC ath.exe protocol or how cal i  use this tool as you previously also tell me Bus Hound but  i am not able to use it to analyses the protocol.
 give me  brief how i use this tool pls Sir Help me  to use this tool or give me detail how can i use ath.exe .

thanks a lot

[2014-10-09 10:04] airwolf2026 commented on #18
Sorry,This is too complicated to explain.See Bus Hound's help Doc

[2014-10-09 10:06] vipinbeni commented on #18
Sir i have already install it in machine but  i am not able to know how can i use it for analysis .
is  it is this perisoft.net/bushound/

Dear Sir could you give me a little example about use of ath.exe  what parameter is passes to it

[2014-10-10 03:31] vipinbeni commented on #18
Hi Sir actually i don't understand how to use ATH.exe  it don't show any argument --help

[2014-10-10 04:43] prateek1108 commented on #18
hello sir,
Even i want to do same thing as discussed regarding ATH.exe (i.e. syncing photos to iPhone) and i had tried Bus Hound's software but i didn't get how to properly use that or what arguments i must give to ath.exe to sync photo's with iphone...
Please Sir can you please give argument example for Ath.exe its really a big help for me ..... And thank a tone for guiding me a ragrding a way to

[2014-10-10 06:20] airwolf2026 commented on #18
You need another tool IDA,Or OD to reverse the ath.exe.

[2014-10-10 08:31] prateek1108 commented on #18
Thank u sir , i had tried the tool IDA as per your guidance, this software shows the internal structure and functions in this exe......its very complicated for me to get my solution....
Sir Can u please give me example of ATH.exe Command line argument to sync photos stored in D:\ in computer with iphone connected by usb...........

[2014-10-10 08:37] vipinbeni commented on #18
Hi Sir,
What is three staring parameter in _main function method of this . first is  int and two other is char \* type  what value we have to pass on it

pls help sir .

[2014-10-10 08:44] airwolf2026 commented on #18
these parameter are named pipe....
you can't call ath.exe to sync photos,see AirTrafficHost.dll in ida.

[2014-10-11 03:29] prateek1108 commented on #18
hello sir,
Thank alot for replying me , By using IDA  i am able get the list of all functions available in Airtraffichost.dll , but sir i am not getting how the function i will call or in which sequence i will call function and how that ath.exe will be call ..........Can You please provide me step or sample code to use Airtarffichost.dll...........................thank for replying me and please s

[2014-10-11 03:44] airwolf2026 commented on #18
Call  Airtraffichost.dll's func "ATHostConnectionCreateWithLibrary" to start ath.exe ...

Other sequence use the OD to debug the iTunes process photo syncs

[2014-10-11 04:07] vipinbeni commented on #18
Dear Sir ,
 Is there is a sample code in any language for this any open source or example source available as we found itunesmobiledevices.dll sample  and source at net but i can not find any header information of   ATHostConnectionCreateWithLibrary function structure and type of argument passed in it ad we found in mobiledevice.h avialable in many sample

where i got structure of this  Airtraffic

[2014-10-11 04:34] airwolf2026 commented on #18
Sorry,there is no example or open source. you need reverse engineering to process these protocol

[2014-10-11 04:51] vipinbeni commented on #18
Its Ok Sir  Please let me how how can i start this please guide me

what is the process i follow   and  how can i call  Call Airtraffichost.dll's func "ATHostConnectionCreateWithLibrary" without knowing its structure

pls help me to start  in reverse engineering of this process .

thanks a lot.

[2014-10-11 05:05] prateek1108 commented on #18
thank you sir ,I had opened Airtraffichost.dll's func "ATHostConnectionCreateWithLibrary" in IDA tool and put a break point in this function......and started sync photos through itunes but my handle is not coming to break point i had applied...........is i am doing anything wrong in this step.

[2014-10-13 02:46] prateek1108 commented on #18
Hello Sir,
Please provide me the steps to follow regarding how to use and get the desired output by Airtraffichost.dll's func "ATHostConnectionCreateWithLibrary"

[2014-10-14 02:04] airwolf2026 commented on #18
The ATHostConnectionCreateWithLibrary func is the easy to analyse between a lot of iTunes's private func. If you can't analyse the args, how about other funcs?

[2014-10-20 16:32] agaeki opened #22 "Porting latest libimobiledevice"
It seems like this is a fairly old version of libimobiledevice, do you have any plans for updating this project to build the latest version?

If not, can you give me any pointers to doing it myself?

[2014-10-20 16:43] storoj commented on #22
Sorry but i have to time for this.
It is kind of hard process to update current version. It's better to start from scratch.
If i did it now, i had original branch from libimobiledevice repository and `vs` branch that patches libimobiledevice. Then you just can pull from libimobiledevice.org and merge `vs` branch.
This project was just a research, it did the job and we just went forward.
So you go

[2014-10-27 05:49] #15 closed, assigned to nobody

[2014-10-27 05:50] #19 closed, assigned to nobody

[2014-10-27 10:40] akhilritu opened #23 "Unable to include libimobiledevice-win32 in release mode in vc++"
Unable to include libimobiledevice-win32 in release mode in vc++ because it is giving a lot of linking errors.

[2014-10-27 13:38] mirekp commented on #23
yes. There are a lot of issues in release. You need to update include definitions and change a few compiler settings in order to build it in release.

[2014-10-28 03:51] akhilritu commented on #23
Hello Sir,
please help me to update include definitions

[2014-10-28 03:52] akhilritu commented on #23
Hello Sir,
Please help me to update include definitions.

[2014-10-29 04:51] prateek1108 commented on #18
hello sir,
I found this command is given to ath.exe on command line:
"C:\Program Files\Common Files\Apple\Mobile Device Support\ATH.exe" --pipe \.\pipe\30405054-351489484413192R \.\pipe\30405054-351489484413192W --target 26990a955a3411800ebeb51969eb1fadd783c8b2
I just want to know how this pipeline would be create is it create by general code of pipeline or any specific code is there to make pipel

[2014-10-29 06:19] airwolf2026 commented on #18
don't need to know the detail, you just call ATHostConnectionCreateWithLibrary , the func will maintain the pipeline.

[2014-10-29 06:23] vipinbeni commented on #18
Dear Sir could you create a  Little sample code for me as i try a lot but not succeed till now  how we can call these func  pls help sir.

thanks a lot

[2014-10-29 07:57] prateek1108 commented on #18
hello sir,
Even i am trying from my side and also searched on net for this function(ATHostConnectionCreateWithLibrary) but i didn't  get anything help to do my work ....please sir  it would be really a a big help for me if you can provide a sample code to do my desired work  ....

[2014-11-03 03:10] vipinbeni commented on #18
Dear Sir could you create a Little sample code for  how call this ATHostConnectionCreateWithLibrary
function pls sir give me a little sample code pls help me

Thanks a lot .

[2014-11-11 06:07] vipinbeni commented on #18
Dear Sir,
 could you please  help me here as i want to know that detail of some other library
https://github.com/fadingred/libgpod  fadingred/libgpod
   can i use this as in this we found about  iTunes  .PhotoDB and iTunesCDB can this help us to insert  photo  and music to iPhone

please reply sir or give as any other help to do this  please please please ............

thanks

[2014-11-11 06:29] airwolf2026 commented on #18
If you  want to see musics in PC iTunes,when Insert music to iPhone need to write iTunesCDB.

[2014-11-11 08:10] vipinbeni commented on #18
Respected Sir ,
 little more explanation i need

how can i insert music to iphone  using this  as i want to insert music using this and libimobiledevice-win32
to iphone. or  can we insert  photo using PhotoDB classes of this sample. i am using source from  here
http://code.h4ck.org.cn/libgpod-0.8.3-for-windows/src
please sir give me a direction please.

help me sir .

[2014-11-11 08:28] airwolf2026 commented on #18
Insert music or photo(not the camera photo) are all use ath.exe from iOS5.0

iTunesCDB just show the music info to iTunes(in my opinion)

[2014-11-11 08:39] vipinbeni commented on #18
Dear Sir ,

Thanks for your quick Reply but please lead us how we use ath.exe please
provide me to way in c/ c++ where i found header structre whel load these
dll using loadlibrary method  and pointer of function is needde to Call
Airtraffichost.dll's func "

ATHostConnectionCreateWithLibrary"

lease write a small sample for us  as we required it at any cost sir.

Please help us Sir

Please please

[2014-11-11 09:19] airwolf2026 commented on #18
Hi,vipinbeni

[code]

Use IDA and OD to get other functions struct...

[2014-11-11 10:38] airwolf2026 commented on #18
Sorry,vipinbeni
I didn't have a  full solution.I just know about the process.

[2014-11-12 02:57] vipinbeni commented on #18
Respected Sir ,

 Could you pls provide  full process in detail and how to get structure  of function using iDA and OD
 as i am trying but not succeeded till today. could you do some work to help me out  here .

a lot of thanks.

[2014-11-12 02:59] prateek1108 commented on #18
hello sir,
I had also tried this code as per your guidance, can you please provide me the C++ structures for functions in this dll. i had also check the dll in IDA and OD, But i need the structure as in libimobiledevice code the structure are there in mobiledevice,h. Please help me out regarding it would really a big help for me.....please help me out

[2014-11-12 05:38] vipinbeni commented on #18
i am using this way but get error no 2 could not connect to parent

[code]

[6716 @ Sat Dec 28 18:09:32 2013] [YSLoader ATH.exe] parent process: 6740 "iTunes.exe"

[6716 @ Sat Dec 28 18:09:32 2013] [YSLoader ATH.exe] main thread 6300

[6716 @ Sat Dec 28 18:09:32 2013] [YSLoader ATH.exe] command line: "C:\Program Files (x86)\Common Files\Apple\Mobile Device Support\ATH.exe" --pipe \.\pipe\30344133-

[2014-11-13 02:22] airwolf2026 commented on #18
Hi,vipinbeni

If i have time i would write a sample code about "com.apple.atc" service like Libimobilelib on github.
"com.apple.atc" service running on iOS device from iOS 5.0, which comunicate with ATH.exe

[2014-11-20 04:53] showman123 commented on #18
Hi sr,
In this line
Handle athHandle = ATHostConnectionCreateWithLibrary(iTunesPrefsID,deviceUDID,NULL);
 where i get the value of iTunesPrefsID.I try to find this value but could not any specific solution Please
 guid me to the value of iTunesPrefsID

[2014-11-20 08:34] airwolf2026 commented on #18
The iTunesPrefsID is in the file "iTunes_Control/iTunes/iTunesPrefs" ,which is on device

[2014-11-20 10:45] showman123 commented on #18
Hi sir
Thankyou for your  quick reply i had already search iTunesPrefsID in iTunesPrefs and iTunesPrefs.plist please sir can you  tell me exactly where is  iTunesPrefsID in iTunesPrefs

[2014-11-24 04:42] showman123 commented on #18
Hi sir,
After searching i found that iTunesPrefsID is working as --library parameter for ath.exe but still can't find iTunesPrefsID parameter.Please guide me to find it

[2014-11-24 05:35] airwolf2026 commented on #18
Sorry,I've  made a mistake,LibraryID is "iTunesPrefsID "

[2014-11-24 05:47] vipinbeni commented on #18
@airwolf2026  Sir  I will wait and try till you write a sample code about "com.apple.atc"

[2014-11-25 05:10] showman123 commented on #18
hi sr,
Please give me some hint about where can i get this  LibraryID.

[2014-11-27 08:10] showman123 commented on #18
Sir,
ATHostConnectionCreateWithLibrary() function execute  successfully.But i can't find how to pass song data for insert into iphone.Please help me.I really need this.

[2014-11-27 09:21] airwolf2026 commented on #18
Hi ,showman,
After  call ATHostConnectionCreateWithLibrary function,you need to call ATHostSendPowerAssertion to device, then you should receive "SyncAllowed",after that call ATHostSendSyncRequest() ....blabla

[2014-11-27 10:05] showman123 commented on #18
k Thanks Sir I will try this and get back to you Thanks a lot.

[2014-11-28 03:22] showman123 commented on #18
Hi sir,
Handle athHandle = ATHostConnectionCreateWithLibrary(iTunesPrefsID ,deviceUDID,NULL);
unsigned char\* str;
     str=ATHostConnectionSendPowerAssertion(athHandle,NULL,NULL));
  It gives me exception.I don't know what i am doing wrong.I am also pass UUID as third parameter but again it gives exception.Please help me  to figure it out

[2014-11-28 06:45] showman123 commented on #18
hi sr,
I am also passing LibraryID as second parameter and then exception gone but there is no result.Please give me some hint

[2014-12-01 01:58] airwolf2026 commented on #18
int errorCode = ATHostConnectionSendPowerAssertion(athHandle);

[2014-12-02 03:39] showman123 commented on #18
Sir ,
HANDLE rt=NULL;
  rt=ATHostConnectionCreateWithLibrary(pftypeCFStringMakeConstantString2("5C2514F04405CBE7"),pftypeCFStringMakeConstantString2("0945eb63dd8441f23beaa7ee173d8bf88a0c8e43"),NULL);
if(rt)
{
   int errorcode;
   errorcode=ATHostConnectionSendPowerAssertion(rt);
}
Here ATHostConnectionSendPowerAssertion(rt) gives access voilation exeception.Please guide me where i am wrong
Thankyo

[2014-12-02 04:40] airwolf2026 commented on #18
Sorry, I made a mistake,ATHostConnectionSendPowerAssertion has two args. The first one is handle,
the second one is a CFBoolean

[2014-12-02 10:55] showman123 commented on #18
Thank you for your reply,but sr still it gives exception
errorcode=ATHostConnectionSendPowerAssertion(rt,true);
I am also searching this function in IDA
IDA shows that it has three arg
can you give me some code for how to use this function

[2014-12-04 07:21] airwolf2026 commented on #18
CFBoolean true,not the c "true"

[2014-12-16 05:33] akhilritu commented on #18
Hello sir,
how can i close idevice icloud sync contact programmatically in c language.
 please help..

[2014-12-16 06:25] akhilritu commented on #18
Hello airwolf2026 sir,
it will be a great help if you can guide how can i get contact information plist without closing iclous sync.
Help me sir...

[2014-12-22 02:50] akhilritu commented on #18
Hello airwolf2026 sir,
Please guide me how to close idevice icloud sync contact programmatically.

[2014-12-27 13:40] AnFengDe commented on #18
塔夫男，你好！
本不想在这里留言，不过找不到你的邮件和其他联系方式,我去了cnblogs，注意到你最近不怎么在那里活动，只好在这里留言了。
我的邮件是:chtian艾特anfengde.com
有问题向你请教,有空请邮件联系我，谢谢。

[2014-12-29 08:18] airwolf2026 commented on #18
akhilritu ,
Sorry, last week i have a lot work to do.
May be you can get value from lockdown with this domain "com.apple.mobile.data_sync" and the key "Contacts"

[2014-12-29 08:21] airwolf2026 commented on #18
@AnFengDe
啊哈,可否直接这边交流呢?

[2014-12-29 10:36] akhilritu commented on #18
Hello sir,
Please provide it in code form how can i do it with key.
Thnx for reply..

[2014-12-29 11:00] airwolf2026 commented on #18
Pseudocode
auto contactSet = lockdown.getValue("com.apple.mobile.data_sync","Contacts");
change contactSet;
then
lockdown.setValue("com.apple.mobile.data_sync","Contacts",contactSet);

[2014-12-30 03:18] akhilritu commented on #18
Hello sir,
 i am working in c and the function is:
lockdownd_get_value(lockdownd_client_t client, const char *domain, const char *key, plist_t *value) and

so can you please guide me about contactSet you used and how can i do this.

[2014-12-30 04:13] airwolf2026 commented on #18
hi,akhilritu
you can reference libimobiledevice in deviceinfo tool

[2014-12-30 05:26] akhilritu commented on #18
Hi sir,
How can i change contactSet? please guide me about this.
I have done this:

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

[code]

</dict>

</plist>

So please suggest something for this...what should i do now...

[2014-12-30 07:48] airwolf2026 commented on #18
hi,akhilritu
Sorry, maybe i made a mistake, you can see if iTunes could close the icloud sync? If iTunes can,then we can do it .Just capture the package ...

[2014-12-30 07:58] akhilritu commented on #18
Hi sir,
Please give me some example about how you change contactSet so that i can apply it and see if this works or not.

[2014-12-30 08:06] airwolf2026 commented on #18
Or you close the icloud account ,then use

[code]

to get the value again.Then
lockdownd_set_value(xx,xx,xx,newValue);

[2014-12-30 08:26] akhilritu commented on #18
Hi sir,
Now i  close the icloud account and get this:

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

[code]

</dict>

</plist>
Please suggest what should i do now?

[2014-12-31 03:25] akhilritu commented on #18
Hi sir,
It is not working
 lockdownd_set_value(xx,xx,xx,newValue).
i get the value  after closing the icloud account and tried to set this value but it is giving error.
 please guide me about this.

[2015-01-02 10:17] ftahir999 commented on #18
Hi airwolf2026,
Can you share the complete "com.apple.atc" process in detail? Don't need code but detailed process.
Thanks

[2015-01-09 10:30] vipinbeni commented on #6
Hi Sir ,

@airwolf2026  Can you port idevicerestore to this pls help me as i need this module.

[2015-01-15 14:10] miraclebg commented on #4
Yup! Thank you! :)

[2015-01-19 10:58] vipinbeni commented on #6
Hi Sir any update on idevicerestore on windows pls help me.

[2015-01-22 04:20] akhilritu commented on #18
Hi airwolf2026,
I am inserting contact info but image data is not displayed in the contact.
Please guide me how can i insert image of the contact.
Please help.

[2015-01-22 04:50] airwolf2026 commented on #18
Use a iphone for test, add a new contact on that iphone,and set a image for that test contact,Then read that contact from the phone, and you will know how to insert a image(the protocol).

[2015-01-22 04:52] akhilritu commented on #18
Hello sir,
I have done that but it is not still displaying image.
i am inserting as:

lenFil is the length of the chQuery buffer.

[2015-01-22 05:49] airwolf2026 commented on #18
Hello akhilritu,
from your code i can't see why the iphone not display image.The code is right.

maybe you add a value ?plist_dict_insert_item("display as company","company").Remove this value .

[2015-01-22 06:02] akhilritu commented on #18
Hello sir,
Code is:

[code]

Please guide me...

[2015-01-22 06:16] akhilritu commented on #18
Hello sir,
In this code the same data(in plist) which is received from iphone in its original form(decoded base64) is inserted.
Or we should decode it in jfif format .
What else i should do...please guide.

[2015-01-22 06:27] ftahir999 commented on #18
airwolf2026,
Can you also please share the ATC process information?

[2015-01-22 06:53] airwolf2026 commented on #18
hi, akhilritu
The image format is png.The base64 encode is the bplist required, you don't encode the image data .

[2015-01-22 06:59] airwolf2026 commented on #18
Hi,iMobileDevs
Yes, if i have time ,i'll share the ATC info. Before share the code,maybe i'd share the main process  first.

[2015-01-22 07:35] ftahir999 commented on #18
Thanks airwolf2026.

[2015-01-23 04:56] prateek1108 commented on #22
I want to restore firmware of ios device.I had tried Idevicerestore Code with libimobiledevice in vc++ for windows and following is showing error in vc++ please help me out to built this project.
![idevicerestore](https://cloud.githubusercontent.com/assets/5064077/5870042/4c6aa10c-a2ea-11e4-88b9-eaae29e5fbf2.png)

[2015-01-26 13:41] ftahir999 commented on #18
Hi Airwolf2026,
Can you please share the complete ATC Process first, so that may I can explore it myself also.

[2015-02-09 05:27] ftahir999 commented on #18
Hello Airwolf2026,
do you have any update on ATC?
Kindly please share the process. I am unable to find information through reverse engineering.

[2015-02-09 05:48] airwolf2026 commented on #18
Hi,
iMobileDevs .
Sorry,last week, Apple release a x64 iTunes,now I have to make change to my code first.

[2015-02-09 06:39] ftahir999 commented on #18
ok sure Airwolf2026.
Thank you

[2015-02-12 06:38] prateek1108 commented on #18
Hello Sir,
I am trying reverse engineering of Airtraffichost.dll's for sync data with iPhone .Sir please provide me any sample code for my this job......

[2015-02-13 04:24] akhilritu commented on #18
Hello Airwolf2026 sir,
What i should do to get all the information of calendar ??
Please guide me...

[2015-02-13 05:03] vipinbeni commented on #18
Hi Sir @airwolf2026 any update on com.apple.atc process sample code as i want to sync photo music etc from iphone  so please share if you have time for ATC

thanks

[2015-02-13 06:11] airwolf2026 commented on #18
@akhilritu
Sync calendar like sync contact.

[2015-02-13 06:11] airwolf2026 commented on #18
@vipinbeni
Sorry for the delay.

[2015-02-13 06:18] akhilritu commented on #18
Hello Airwolf2026 sir,
I will try it.
Thnx for the reply..

[2015-02-13 06:30] vipinbeni commented on #18
Thanks For Reply Sir @airwolf2026  Take your Time No problem I will wait  .

[2015-02-17 13:23] AlexxxRu opened #24 "mobilebackup2 denied working after receiving of the first file"
Good afternoon!
I've tried to use mobilebackup2 but I have received some errors during downloading a file from the device.
 I'm using libimobiledevice for Windows. My operating system is Windows 8.1.
Could you please help me in solving this problem?

**Little log of received headers:**

Then receiving device filename:
Smth like this: /var/tmp/tmp.2.5YnM5D
And correct name for my pc:
udid/Status.pl

[2015-02-18 04:35] akhilritu commented on #23
Hello mirekp sir,
How can i update include definitions and change compiler settings in order to build it in release.
Please help.....
Can i build it in vc++ 2010.

[2015-02-18 04:41] akhilritu opened #25 "building in vc++ 2010"
Can i build it in vc++ 2010.I am working with vc++ 2010 so i want to build this in 2010.
Is it possible to build in release mode.

[2015-02-18 11:01] #17 closed

[2015-02-19 21:32] johnadam650 commented on #18
@airwolf2026 Thank you very much for all this information. With the help of this information I can now retrieve contacts,bookmarks,notes and calendar. I can also send contact to the device.
But I don't know how to send send notes,calendar and bookmark to device. Can you please guide me on this? Can you give me the SDMessageProcess Example in xml format on this? like you give above about the contac

[2015-02-20 05:33] vipinbeni commented on #7
Hi Sir @airwolf2026  ,

Could you please tell me how can i insert and extract Text Message(SMS) from ios device .If any Example code or process  its really appreciated .

Thanks a lot in advance.

[2015-02-20 05:52] ftahir999 commented on #18
@johnadam650, You will do the same for notes, calendar and bookmark.

[2015-02-20 12:32] johnadam650 commented on #18
@iMobileDevs, Actually I can send the notes successfully and device is sending new note Key after remapping but the note isn't showing on the device? do you have any idea?

[2015-02-20 21:15] ftahir999 commented on #18
Hmm well if you are getting remapped keys, then i think it should be ok. But let check by relaunching the notes app again.

[2015-02-22 20:49] johnadam650 commented on #18
I'm not sending DateModified and DateCreated to the device. You think that can be the issue? I have tried relaunching the app but it doesn't show new notes.

[2015-02-22 23:22] johnadam650 commented on #18
Thank you for all the help i get from this discussion. I can now send contacts,notes,bookmarks,calendar to the device successfully. It turned out that Date was the issue. DateCreated and DateModified is to be send as well for the notes.

[2015-02-22 23:24] johnadam650 commented on #18
@iMobileDevs @airwolf2026 Can any of you tell me how to retrieve sms from the device? As FileRelay service been shut down by Apple after iOS 8 update. I don't know how to do it else.
Your help will be much appreciated, thanks.

[2015-02-23 05:13] ftahir999 commented on #18
@johnadam650 Hmm yes FileRelay is disabled in iOS 8. In my mind you can use the full backup service and then get the sms.db file. But this is a time consuming approach.

[2015-02-24 06:37] akhilritu commented on #18
Hello Airwolf2026 sir,
I am not getting date of note right.What should i do??

[2015-02-24 07:39] akhilritu commented on #18
Hello Airwolf2026 sir,
Please help....

[2015-02-25 07:50] akhilritu commented on #18
Hello Airwolf2026 sir,
Please help me to convert datestring into int32_t sec, int32_t usec to insert into
plist_dict_insert_item(contactMainInfoDict , "dateCreated", plist_new_date(int32_t sec, int32_t usec));

I got date as
<key>dateCreated</key>
            <date>1983-09-09T22:53:14Z</date>

help please...

[2015-02-27 01:45] airwolf2026 commented on #7
@vipinbeni
You can extract SMS from FileRelay service. You can't insert message in SMS in normal iOS(except jailbreak)

[2015-02-27 01:52] airwolf2026 commented on #18
@akhilritu  Why should you need convert GMT dataString to int32_t sec?

[2015-02-27 02:42] vipinbeni commented on #7
Dear Sir @airwolf2026  ,

Can you give me some reference code for sms(FileRelay ) and i have a product that insert sms to ios device without jailbreak.
is there are no way to insert sms text messages to device.

thanks
vipin

[2015-02-27 02:44] akhilritu commented on #18
Hello sir,
Because it will be inserted into plist in this foramt:

plist_dict_insert_item(contactMainInfoDict , "dateCreated", plist_new_date(int32_t sec, int32_t usec));

If i am giving 01/01/2001 as date then i got this in plist:

<date>1969-12-31T16:00:00Z</date>

[2015-02-27 02:51] airwolf2026 commented on #7
@vipinbeni
That product may be use a ath flaw (no check the path is valide)

[2015-02-27 03:02] vipinbeni commented on #7
Dear Sir @airwolf2026  ,
 Could you please tell me about this in detail if you have time as i have no idea about ath flaw and FileRelay

thanks.

[2015-02-27 03:06] airwolf2026 commented on #7
@vipinbeni
Why your team make another wheel? Because there are a lot free software to manage iDevice.

[2015-02-27 03:19] vipinbeni commented on #7
Dear Sir ,

Its our project to complete ios syn .

that why we have to complete it. Please help me.

thanks.

On Fri, Feb 27, 2015 at 8:36 AM, airwolf2026 notifications@github.com
wrote:

##

Thanks
Vipin Kumar Beniwal

[2015-03-16 07:53] ftahir999 commented on #18
Hi @airwolf2026,
Any update on atc code?

[2015-03-16 08:03] prateek1108 commented on #18
hello sir,
i want to restore my iPhone by .ipsw firmware of that iphone......i had gone through the code https://github.com/storoj/libimobiledevice-win32/tree/master/libimobiledevice-tools/idevicerestore but i didn't fiond code to restore iPhone.....how i can do restoration of iphone while connecting device with windows computer

[2015-04-01 06:06] vipinbeni commented on #18
Hi @airwolf2026  Sir Please update us for ATC .

pls help me.

[2015-04-07 11:08] vipinbeni opened #26 "idevicerestore"
@storoj Alexey Storozhev Sir ,

i want to restore my iPhone by .ipsw firmware of that iphone......i had gone through the code idevicerestore for windows vc++  but i didn't found code to restore iPhone.....how i can do restoration of iphone while connecting device with windows computer

Please Help Sir Can I have your Skype id.

[2015-05-07 10:48] vipinbeni commented on #18
Hi @airwolf2026 Sir Please update us

[2015-05-26 06:42] qianguozheng commented on #18
hi @vipinbeni , how did you solve the problem as below LNK error with MSVC.
I'm also coming through this problem now.

error LNK2019: unresolved external symbol __imp__plist_array_get_item referenced

[2015-05-29 03:28] prateek1108 commented on #18
Hello Airwolf2026 sir,
I am trying to do the sync iphone  work as per your guideline using atc protocol but i am not able to sync the photos in iphone by code even tried many a things and devoted my lot of time to do so but not able to do so please share the code if had done done this please sir its a humble request that please make a small demo code for me to solve my work, even i am interested i

[2015-05-29 03:42] airwolf2026 commented on #18
@prateek1108  Sorry, Im afraid I hava to break my promise.If i share the code,may be violate apple's intellectual property rights.

[2015-06-09 04:54] vipinbeni commented on #18
@airwolf2026 sir there are many third party tools  sync photo audio and video etc  then how can they are doing this without violate apple's intellectual property rights.  dear Sir please tell  me how can i do this as i am waiting from a  very log time i also try some freelancer but  my work is still undone please help me Sir

thanks vipin

[2015-06-09 04:59] vipinbeni opened #27 "Release mode showing lot of error"
Can any one solved it out to run this library in release mode  please help ..

[2015-06-09 05:00] vipinbeni commented on #6
@airwolf2026 Sir  have you implemented  this Restore module.

[2015-06-09 07:18] pizixie commented on #27
you can go to bitbucket and search by "libimobiledevice".
it build with vs2013
https://bitbucket.org/Vitallium/libimobiledevice-win32

[2015-06-18 10:56] vipinbeni commented on #27
Hi i am getting error in below line
This device isn't eligible for the requested build.
in following statement
response = tss_send_request(request, client->tss_url);

Kindly help me as i run same ispw file from itunes and it restore successfully .Kindly please tell me step how can i restore my device using idevicerestor module

thanks
vipin

[2015-06-19 06:21] pizixie commented on #27
sorry,i don't often use the idevicerestore.i don't know how to solve it.

[2015-06-19 09:05] vipinbeni commented on #18
@airwolf2026 pls help

[2015-06-19 09:05] vipinbeni opened #28 "error in idevicerestore"
Hi i am getting error in below line
This device isn't eligible for the requested build.
in following statement
response = tss_send_request(request, client->tss_url);

Kindly help me as i run same ispw file from itunes and it restore successfully .Kindly please tell me step how can i restore my device using idevicerestor module
@storoj Sir and @airwolf2026 Sir please help me
thanks
vipin

[2015-07-07 09:02] vipinbeni commented on #18
@airwolf2026  Sir ,

now  i am able to do ATHostConnectionSendAssetCompleted  but i need your help as it need .mthmb file
but i am not able to convert Jpg file to .mthmb could you please tell me how can i do this.

pls sir tell me how can i change jpg to mthmb
Sir i am  also want to know how can we pass data to iphone of audio and vedio as image is pass mthmb file
please Sir help me here

[2015-07-07 09:17] airwolf2026 commented on #18
@vipinbeni .
There may be opensource  project to convert jpg to mthmb.

[2015-07-07 09:18] vipinbeni commented on #18
@airwolf2026  any link Sir as i found on google but not get

pls sir share one sample for me.

[2015-07-07 10:01] vipinbeni commented on #18
Hi Sir @airwolf2026  This my code please tell me how can i pass jpg in place of mthmb

if (hc->_status == STATUS_ASSETMANIFEST)
        {
            for (uint32_t n = 0; n < photos.size(); n++)
            {
                std::string photoGuid   = photos[n].UUID;
                std::string photoName   = photos[n].FILENAME;
                std::string devicePath = std::string("/Photos/Thumbs/")

[2015-07-08 04:36] vipinbeni commented on #18
Sir  please tell me the way how can i insert image  to iphone as i am not able to convert it to mthmb .
Sir kindly share a link or sample for conversion if you found

please help me sir.
@storoj @ @airwolf2026 and @showman123  and all other member pls helpme

[2015-07-13 08:08] a-liashenko commented on #24
Error was in receiving files. Fixed by replace with mb2_handle_receive_files from idevicebackup2 code.

[2015-07-13 08:08] #24 closed

[2015-07-21 11:25] vipinbeni commented on #18
Dear @airwolf2026  Sir i got success to transfer photo but i am not able to create anew album in which i want  to copy  photo i want i will create the same name album as folder i select from pc .please help me Sir

2 . i also need your help that how can i transfer audio it is similar or i need to do some new concept for audio and vedio .

thanks a lot Sir.

[2015-07-22 01:59] airwolf2026 commented on #18
@vipinbeni
Tranfser audio or vedio is like transfer photo,only the plist protols difference.

[2015-07-22 03:43] vipinbeni commented on #18
dear Sir @airwolf2026  could you tell me an example how could i do this for audio and video
my photolibrary.plist is <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
< plist version="1.0" >
< dict >
    < key >libraryKind< /key >
    < string >Folder< /string >
    < key >libraryUUID< /key >
    < string >

[2015-07-22 10:38] airwolf2026 commented on #18
@vipinbeni
Transfer a MP3 (audio) to ios:
`<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Command</key>
    <string>RequestingSync</string>
    <key>Params</key>
    <dict>
        <key>DataclassAnchors</key>
        <dict>
            <key>Media</key>
            <s

[2015-07-22 10:42] vipinbeni commented on #18
@airwolf2026  can i copy this plist file to /Photos/Sync/PhotoLibrary.plist location and do same process as i photo  or somthing else to do it

hc->_pDeviceInstance->CopyFileToDevice("PhotoLibrary.plist", "/Photos/Sync/PhotoLibrary.plist");
 is replace with
hc->_pDeviceInstance->CopyFileToDevice("audio.plist", "/Photos/Sync/audio.plist");

 and what to do on
if (hc->_status == STATUS_ASSETMANIFEST

[2015-07-22 10:44] airwolf2026 commented on #18
@vipinbeni
Sorry, these plists just for audio transfer,not for the Photos

[2015-07-22 10:46] vipinbeni commented on #18
Thanks Sir for your reply @airwolf2026  Sir i want to know where i can use this in my code  i already able to transfer photo  i  also need  for audio so please specify steps for me.

this is my code
DWORD WINAPI HostConnection::Send(LPVOID Arguments)
{
    BOOL bSyncStarted = FALSE;
    HostConnection\* hc = (HostConnection*)Arguments;

[code]

}

[2015-07-22 10:48] airwolf2026 commented on #18
@vipinbeni
Yes, you can use this to transfer audio in your code.

[2015-07-22 10:50] vipinbeni commented on #18
@airwolf2026  Sir i want know this plist you send me  is use at place of  phtoplist i use or some other place  could you please modify my code accordingly or tell me step where i need to put this plist for audio

[2015-07-22 11:06] vipinbeni commented on #18
@airwolf2026 Dear sir write a few code line  for me how to use this i really depend on you for this work
 i will wait ..
Please Sir .

[2015-07-23 10:43] prateek1108 commented on #18
Hello airwolf2026 sir,

Sir i had tried this photo plist code at my end but i am not getting how i can create a album in iphone by this .Please guide me to create a album in iphone.

[2015-07-23 11:22] vipinbeni commented on #18
@airwolf2026  Sir please help me ....

[2015-09-09 08:24] walkman4321 commented on #18
Hi Sir,
I am using this library in vc++ application for getting contacts in iphone and with help of your discuddion above make some changes in my code but it gives only contacts which  are add to device manually not the contacts which are sync  from gmail.
Please help me how to get contacts which are sync  from gmail
I am using the following code
int count, i, err;
    plist_t data            = NU

[2015-09-09 08:43] airwolf2026 commented on #18
@walkman4321
You can't get contacts from ios which sync with the cloud service, like icloud or  gmail contact sync service etc

[2015-09-09 09:23] walkman4321 commented on #18
Hi airwolf2026,
Thank you for your quick reply sir,
Is their any other way for getting contact because a third party software also  get contact.

[2015-10-28 07:46] bilawal230 opened #30 "Partial Restore, backup manifest file"
I'm backing up the device and then making changes to sms.db but how can I restore it back to another device without removing photos and other stuff. I want to restore only sms.db file?

[2015-10-28 07:48] bilawal230 commented on #30
I already have parsed the Manifest.mbdb file but failed to understand how to make specific changes so it will only restore sms.db. Can anyone help me out here?

[2015-11-03 02:56] pyraman opened #31 "this port does not work with iOS 9"
hi! I've used your port for 2 years to start iOS program from Win32.
but now I cannot start iOS program on iOS9.
can you please continue porting the latest libimobiledevice?

thanks,

[2015-12-01 02:33] fcgll521 commented on #18
@vipinbeni
Can you share your code about converting jpg to mthmb?

[2016-02-19 04:01] emelyan1987 commented on #18
Hi Everybody!

Thanks for your discussion.

Your discussion is really useful for iPhone utilities developers.

Ahead I want to say thanks.

And I hope to ask for you how to get photos from iPhone using idevice library.

If you can please give me a hand.

Thanks again.

Emelyan

[2016-09-19 08:19] chris-stones opened #33 "license ?"
No COPYING or LICENSE file?

[2016-10-24 10:44] #27 closed

[2017-02-13 11:13] prateek1108 opened #34 "Compatibility or support for ios10"
Hello Sir,
i am trying to use libimobiledevice with ios 10 and its showing error "did not get goodbye response back" at this
ret = lockdownd_receive(client, &dict);
	if (!dict) {
		debug_info("did not get goodbye response back");
		return LOCKDOWN_E_PLIST_ERROR;
	}

[2017-03-02 10:46] prateek1108 commented on #34
Hello Sir,

i tried to connect and send data in ios 10 by libimobiledevice on windows platform . i am anbale to send data to iphone, its shows error at lock_start_service() no service value is there as result of this function and the function fails at service_send()
debug_info("sending %d bytes", length);
service_send(client->parent, (const char*)&nlen, sizeof(nlen), (uint32_t*)&bytes);
if (bytes

[2017-03-07 05:24] prateek1108 commented on #18
Hello @airwolf2026  Sir,

i tried to connect and send data in ios 10 by libimobiledevice on windows platform . i am unable to send data to iphone, its shows error at lock_start_service() no service value is there as result of this function and the function fails at service_send()
debug_info("sending %d bytes", length);
service_send(client->parent, (const char*)&nlen, sizeof(nlen), (uint32_t*)&byte

[2017-07-14 11:05] prateek1108 opened #35 "Problem while transferring data to iphone ios version 10.x and above"
Hello airwolf sir,

I tried to transfer contact to iphone of ios version 10.x got the error for that and below 10.x the code is running .please  help me out how i can transfer the contact to ios 10.x and above.

fail at the point:-
in lockdown send()
service_send(client->parent, (const char*)&nlen, sizeof(nlen), (uint32_t*)&bytes);

[2017-08-11 08:18] prateek1108 commented on #18
Hello @airwolf2026 Sir,

I upgraded the libimobiledevice code for ios 10 support ....all the things(contacts,bookmarks,notes ) are importing to iphone as in the earlier version of libimobiledevice but the calendars are not working properly in new version of libimobiledevice and ios 10 iphone. Please help me out sir how and whats change i do so i can transfer calendars to ios10 iphone.

msg = plist

[2017-08-14 08:20] vipinbeni commented on #18
@airwolf2026 Sir , i am also facing this issue all is going ok but calendar events not shown in device kindly help me is there is any update in ios 10 calendar we need to change as notes bookmark and all other is going good as it is ..@emelyan1987

[2017-08-16 06:08] airwolf2026 commented on #18
@vipinbeni
sorry,  i have to dig it to know why u can't sync calendar like other class(bookmark,contacts,ie.)

[2019-06-26 09:10] yogendra123456 commented on #18
hi all,

my **Notes** data is not transfer to IOS 12.0
 In below code my problem is that plist_get_node_type(response_t) (3) is not match PLIST_DICT value (5)
here it is fail but in previous version IOS 10 it work properly.

my key value for Note is,    nkey="Note/190";
                        //////////////////////////////////////////
                              response_t=NULL;
				response=NU

[2019-07-03 11:31] #10 closed

[2019-07-26 12:05] chiyuelaochao opened #36 "how to get these informations from iphone"
Hi sir,

Thank for your attention.
I get IMEI uses the following function with the patameter of "InternationalMobileEquipmentIdentity":
lockdownd_get_value(ilock, NULL, "InternationalMobileEquipmentIdentity", &value);
or gets Serial Number by this function with the parameter of "SerialNumber":
lockdownd_get_value(ilock, NULL, "SerialNumber", &value);

Now I want to get these informations like 1.销售

[2019-10-28 08:55] airwolf2026 commented on #18
from ios11, iphone can't sync Notes with PC(Mac)

[2021-01-14 08:19] #6 closed